body {
  background-color: #9c9ca3;
}

.text-one {
  position: relative;
  color: white;
  background-color: black;
  text-transform: uppercase;
  text-align: right;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 15px;
  overflow: hidden;
}

.text-two {
  background-color: black;
  color: white;
  border: 2.5px red solid;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 640px;
  height: 150px;
  overflow: scroll;
  padding: 20px;
  text-align: left;
  position: relative;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
